.btn-login {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: green;
    width: 100px;
    height: 30px;
}

.logo {
    height: 87px;
    width: 200px;
    margin-top: 10px;
}

.logo:hover {
    transform: rotate(5deg);
}

.navbar {
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar li {
    border-radius: 50%;
}

.profileImage {
    border-radius: 30%;
}

.profileImage:hover {
    border-radius: 40%;
    cursor: pointer;
}
