.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front9,
.back9 {
    font-size: 1.5vw;
    .hole {
        background-color: #f63;
        color: #fff;
        span {
            padding: 0.5rem 0;
        }
    }
    .par {
        background-color: #ccc;
        color: #777;
        span,
        option {
            padding: 0.25rem 0;
        }
    }
    .score {
        color: #f63;
        span {
            padding: 0.55rem 0;
            /* For Most Browsers */
            &::selection {
                color: none;
                background: none;
            }
            /* For Mozilla Firefox */
            &::-moz-selection {
                color: none;
                background: none;
            }
            &:not(:nth-child(11), :nth-child(1), :nth-child(21), :last-child) {
                &:hover {
                    background-color: #f63;
                    color: #fff;
                }
            }
        }
    }
    span {
        border: rgba(0, 0, 0, 0.25) solid 1px;
        border-width: 0 0 0 1px;
        display: inline-block;
        text-align: center;
        width: 3em;

        &:first-child {
            text-align: left;
            padding-left: 0.2rem;
            border-width: 0;
        }
    }
}
.back9 span:first-child {
    display: none;
}

@media screen and (max-width: 50em) {
    .cardContainer {
        flex-direction: column;
    }
    .front9 {
        font-size: 2.95vw;
        display: inline-block;
    }
    .back9 {
        font-size: 2.7vw;
        display: inline-block;
    }
    .back9 span:first-child {
        display: inline-block;
    }
}
